<!-- Title -->
@if (variant === 'title') {
  <div class="relative">
    <h3 [class.clamp]="!expanded" class="font-bold text-xl">
      {{ text ?? '' }}
    </h3>

    @if ((text?.length ?? 0) > maxLength) {
      <button
        mat-button
        class="absolute right-0 bottom-0"
        (click)="expanded = !expanded"
      >
        {{ expanded ? 'See less' : 'See more' }}
      </button>
    }
  </div>
}

<!-- Body text -->
@if (variant === 'body') {
  <div class="relative">
    <p [class.clamp]="!expanded" class="text-base text-gray-800">
      {{ text ?? '' }}
    </p>

    @if ((text?.length ?? 0) > maxLength) {
      <button
        mat-button
        class="absolute right-0 bottom-0"
        (click)="expanded = !expanded"
      >
        {{ expanded ? 'See less' : 'See more' }}
      </button>
    }
  </div>
}
